Tools/MigrationTools/BVSoftware.Commerce.Migration/Service References/MigrationServices/MigrationToolService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" />
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" />
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Membership" />
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Taxes" />
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" />
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Orders" />
  <xs:element name="ClearProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="howManyToClear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="ClearProductsResult" nillable="true" type="q1:ApiResponseOfClearProductsDataviB0FTl6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllCategoriesFirst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllCategoriesFirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="ClearAllCategoriesFirstResult" nillable="true" type="q2:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigratePriceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" minOccurs="0" name="p" nillable="true" type="q3:PriceGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigratePriceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigratePriceGroupResult" nillable="true" type="q4:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateCustomerAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Membership" minOccurs="0" name="customer" nillable="true" type="q5:CustomerAccountDTO" />
        <xs:element minOccurs="0" name="clearPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateCustomerAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateCustomerAccountResult" nillable="true" type="q6:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAffiliate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" minOccurs="0" name="affiliate" nillable="true" type="q7:AffiliateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAffiliateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateAffiliateResult" nillable="true" type="q8:ApiResponseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAffiliateReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" minOccurs="0" name="referral" nillable="true" type="q9:AffiliateReferralDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAffiliateReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateAffiliateReferralResult" nillable="true" type="q10:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateTaxSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Taxes" minOccurs="0" name="t" nillable="true" type="q11:TaxScheduleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateTaxScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateTaxScheduleResult" nillable="true" type="q12:ApiResponseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Taxes" minOccurs="0" name="t" nillable="true" type="q13:TaxDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateTaxResult" nillable="true" type="q14:ApiResponseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateVendorManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" minOccurs="0" name="dto" nillable="true" type="q15:VendorManufacturerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateVendorManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateVendorManufacturerResult" nillable="true" type="q16:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q17:ProductPropertyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductPropertyResult" nillable="true" type="q18:ApiResponseOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q19:ProductTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductTypeResult" nillable="true" type="q20:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProductPropertyToType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productTypeBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:long" />
        <xs:element minOccurs="0" name="sortOrder" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProductPropertyToTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="AssignProductPropertyToTypeResult" nillable="true" type="q21:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="c" nillable="true" type="q22:CategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateCategoryResult" nillable="true" type="q23:ApiResponseOfCategoryDTOviB0FTl6" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadCategoryImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadCategoryImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="ImagesUploadCategoryImageResult" nillable="true" type="q24:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadCategoryBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadCategoryBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="ImagesUploadCategoryBannerResult" nillable="true" type="q25:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q26:OptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateOptionResult" nillable="true" type="q27:ApiResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q28:ProductDTO" />
        <xs:element minOccurs="0" name="imageData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductResult" nillable="true" type="q29:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignOptionToProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionBvin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignOptionToProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="AssignOptionToProductResult" nillable="true" type="q30:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInventoryLevelsForProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productBvin" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q31:ProductInventoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInventoryLevelsForProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="SetInventoryLevelsForProductResult" nillable="true" type="q32:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductPropertyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:long" />
        <xs:element minOccurs="0" name="stringValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="choiceId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductPropertyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="SetProductPropertyValueResult" nillable="true" type="q33:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadProductImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagesUploadProductImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="ImagesUploadProductImageResult" nillable="true" type="q34:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAdditionalImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q35:ProductImageDTO" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateAdditionalImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateAdditionalImageResult" nillable="true" type="q36:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductFileFirstPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductFileFirstPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductFileFirstPartResult" nillable="true" type="q37:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductFileAdditionalPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moredata" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductFileAdditionalPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductFileAdditionalPartResult" nillable="true" type="q38:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateProductFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availableMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="maxDownloads" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateProductFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="AssociateProductFileResult" nillable="true" type="q39:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProductVolumeDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q40:ProductVolumeDiscountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProductVolumeDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrationProductVolumeDiscountResult" nillable="true" type="q41:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Catalog" minOccurs="0" name="dto" nillable="true" type="q42:ProductReviewDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateProductReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateProductReviewResult" nillable="true" type="q43:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProductXCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productBvin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryBvin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProductXCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrationProductXCategoryResult" nillable="true" type="q44:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSubstituteProduct" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="AssociateProductsResult" nillable="true" type="q45:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Orders" minOccurs="0" name="dto" nillable="true" type="q46:OrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateOrderResult" nillable="true" type="q47:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOrderTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apikey" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Orders" minOccurs="0" name="dto" nillable="true" type="q48:OrderTransactionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrateOrderTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1" minOccurs="0" name="MigrateOrderTransactionResult" nillable="true" type="q49:ApiResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>