Tools/MigrationTools/BVSoftware.Commerce.Migration/Service References/MigrationServices/MigrationToolService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Shipping" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Shipping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="LengthTypeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inches">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Centimeters">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LengthTypeDTO" nillable="true" type="tns:LengthTypeDTO" />
  <xs:simpleType name="WeightTypeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pounds">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Kilograms">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeightTypeDTO" nillable="true" type="tns:WeightTypeDTO" />
  <xs:simpleType name="ShippingModeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ShipFromSite" />
      <xs:enumeration value="ShipFromVendor" />
      <xs:enumeration value="ShipFromManufacturer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShippingModeDTO" nillable="true" type="tns:ShippingModeDTO" />
  <xs:complexType name="ShippableItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraShipFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsNonShipping" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShipSeparately" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShippingScheduleId" type="xs:long" />
      <xs:element minOccurs="0" name="ShippingSource" type="tns:ShippingModeDTO" />
      <xs:element minOccurs="0" name="ShippingSourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="Width" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippableItemDTO" nillable="true" type="tns:ShippableItemDTO" />
</xs:schema>