Tools/MigrationTools/BVSoftware.Commerce.Migration/Service References/MigrationServices/MigrationToolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Contacts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="VendorManufacturerTypeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Vendor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Manufacturer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VendorManufacturerTypeDTO" nillable="true" type="tns:VendorManufacturerTypeDTO" />
  <xs:simpleType name="AffiliateCommissionTypeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PercentageCommission" />
      <xs:enumeration value="FlatRateCommission" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AffiliateCommissionTypeDTO" nillable="true" type="tns:AffiliateCommissionTypeDTO" />
  <xs:simpleType name="PricingTypesDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PercentageOffListPrice" />
      <xs:enumeration value="AmountOffListPrice" />
      <xs:enumeration value="PercentageAboveCost" />
      <xs:enumeration value="AmountAboveCost" />
      <xs:enumeration value="PercentageOffSitePrice" />
      <xs:enumeration value="AmountOffSitePrice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PricingTypesDTO" nillable="true" type="tns:PricingTypesDTO" />
  <xs:complexType name="PriceGroupDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricingType" type="tns:PricingTypesDTO" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceGroupDTO" nillable="true" type="tns:PriceGroupDTO" />
  <xs:complexType name="ArrayOfAddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDTO" nillable="true" type="tns:AddressDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDTO" nillable="true" type="tns:ArrayOfAddressDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressType" type="tns:AddressTypesDTO" />
      <xs:element minOccurs="0" name="Bvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryBvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyBvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdatedUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionBvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="UserBvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSiteUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:simpleType name="AddressTypesDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Billing" />
      <xs:enumeration value="Shipping" />
      <xs:enumeration value="BillingAndShipping" />
      <xs:enumeration value="StoreContact">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressTypesDTO" nillable="true" type="tns:AddressTypesDTO" />
  <xs:complexType name="AffiliateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="CommissionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommissionType" type="tns:AffiliateCommissionTypeDTO" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfAffiliateContactDTO" />
      <xs:element minOccurs="0" name="CustomThemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriversLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdatedUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferralDays" type="xs:int" />
      <xs:element minOccurs="0" name="ReferralId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSiteUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AffiliateDTO" nillable="true" type="tns:AffiliateDTO" />
  <xs:complexType name="ArrayOfAffiliateContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AffiliateContactDTO" nillable="true" type="tns:AffiliateContactDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAffiliateContactDTO" nillable="true" type="tns:ArrayOfAffiliateContactDTO" />
  <xs:complexType name="AffiliateContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffiliateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AffiliateContactDTO" nillable="true" type="tns:AffiliateContactDTO" />
  <xs:complexType name="AffiliateReferralDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AffiliateId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ReferrerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="TimeOfReferralUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AffiliateReferralDTO" nillable="true" type="tns:AffiliateReferralDTO" />
  <xs:complexType name="VendorManufacturerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="Bvin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactType" type="tns:VendorManufacturerTypeDTO" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfVendorManufacturerContactDTO" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DropShipEmailTemplateId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorManufacturerDTO" nillable="true" type="tns:VendorManufacturerDTO" />
  <xs:complexType name="ArrayOfVendorManufacturerContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorManufacturerContactDTO" nillable="true" type="tns:VendorManufacturerContactDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorManufacturerContactDTO" nillable="true" type="tns:ArrayOfVendorManufacturerContactDTO" />
  <xs:complexType name="VendorManufacturerContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorManufacturerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorManufacturerContactDTO" nillable="true" type="tns:VendorManufacturerContactDTO" />
</xs:schema>