Tools/MigrationTools/BVSoftware.Commerce.Migration/Service References/MigrationServices/MigrationToolService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Taxes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BVSoftware.CommerceDTO.v1.Taxes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaxScheduleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxScheduleDTO" nillable="true" type="tns:TaxScheduleDTO" />
  <xs:complexType name="TaxDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyToShipping" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegionAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreId" type="xs:long" />
      <xs:element minOccurs="0" name="TaxScheduleId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxDTO" nillable="true" type="tns:TaxDTO" />
</xs:schema>